# XML 
# by: github@estefanions
snippet xml
	<?xml version="1.0" encoding="UTF-8"?>
# tag
snippet tt
	<${1:*}>${2}</$1>
#
snippet tta
	<${1:*} ${2:*}>${3}</$1>
# tag open
snippet tto
	<${1:*}>
#
snippet ttn
	<${1:*}>
	    ${2}
	</$1>
#
snippet ttan
	<${1:*} ${2:*}>
	    ${3}
	</$1>

